<div class ="jumbotron center">
	<h1>GREYCORK</h1>
		<p>Welcome to a better-designed furniture experience</p>
		<p>Don't miss out <%= link_to "Get on the email list", new_user_registration_path, class: "btn btn-primary btn-lg"%>
		</p>
</div>