<nav  class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">(401) 662-1135</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">About Greycork</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Join Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li>
          <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
           <input type="text" class="form-control" placeholder="your email">
           </div>
            <button type="Sign Up!" class="btn btn-default">Submit</button>
            </form>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>